<%- include ../include/header.ejs%>
<form method="post" action="/users/reg">
    用户名：<input type="text" name="username"/>
    密码：<input type="password" name="password"/>
    确认密码：<input type="password" name="re-password"/>
    <input type="submit" value="提交"/>
</form>
<%- include ../include/footer.ejs%>